
<html lang="en">
{% load staticfiles %}
<head>
    <!-- The links to css file, bootstrap, js and jquery -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">

    <head>
        {% block meta %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test Your Brain-
            {% block title_block %}
            {% endblock %}
        </title>

    </head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light fixed-top " style="background-color:darkgray    ">
    <a class="navbar-brand {% if nbar == 'home' %}active{% endif %}" href="{% url 'index' %}">Test Your Brain
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav">

            {% if user.is_authenticated %}
                <li class=""><a class="nav-item {% if nbar == 'profile' %}active{% endif %}"
                                href="{% url 'profile' user.username %}">My Profile</a></li>
                <li><a class="nav-item " href="{% url 'logout' %}">Sign Out</a></li>
            {% else %}
                <li><a class="{% if nbar == 'login' %}active{% endif %} nav-item " href="{% url 'login' %}">Login</a>
                </li>
                <li class=""><a class="{% if nbar == 'register' %}active{% endif %} nav-item "
                                href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

    {% block content %}
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



{% block script_block %}
{% endblock %}
<script language="JavaScript" type="text/javascript" src='{% static "js/testyourbrain-jquery.js" %}'></script>
</body>
</html>